# Comparing Global Mortality Rates to US States
Here we compare COVID-19 statistics for US states to those for other countries.

In [15]:
import pandas as pd
pd.options.display.max_rows = 100
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# get cases and deaths by country
# Note that these are daily numbers, not cumulative sums
world = pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv')
world.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,05/05/2020,5,5,2020,190,5,Afghanistan,AF,AFG,37172386.0,Asia
1,04/05/2020,4,5,2020,235,13,Afghanistan,AF,AFG,37172386.0,Asia
2,03/05/2020,3,5,2020,134,4,Afghanistan,AF,AFG,37172386.0,Asia
3,02/05/2020,2,5,2020,164,4,Afghanistan,AF,AFG,37172386.0,Asia
4,01/05/2020,1,5,2020,222,4,Afghanistan,AF,AFG,37172386.0,Asia

In [17]:
# reorganize data
world = world.groupby(['countriesAndTerritories'])\
    .agg({'cases': sum, 'deaths': sum, 'popData2018': max})
world.rename(
    columns={'countriesAndTerritories': 'country',
             'popData2018': 'population'},inplace=True)
world.head()

                         cases  deaths  population
countriesAndTerritories
Afghanistan               2894      90  37172386.0
Albania                    803      31   2866376.0
Algeria                   4648     465  42228429.0
Andorra                    750      45     77006.0
Angola                      35       2  30809762.0

In [18]:
# Read in the state level cases/deaths data from the NYT
# Note that cases and deaths here are cumulative, not daily
states = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [19]:
states = states.groupby(['state']).agg({'cases': max, 'deaths': max})

In [20]:
# read in state populations
# (source: https://worldpopulationreview.com/states/states-by-area/)
state_populations = pd.read_csv('state population and area.csv')
state_populations.head()

        State  TotalArea  LandArea  WaterArea   Density       Pop
0      Alaska     665384    570641      94743    1.2863    734002
1       Texas     268596    261232       7365  112.8204  29472295
2  California     163696    155779       7916  256.3727  39937489
3     Montana     147040    145546       1494    7.4668   1086759
4  New Mexico     121590    121298        292   17.2850   2096640

In [21]:
states = states.merge(state_populations,left_index=True,right_on='State')
states.head()

,cases,deaths,State,TotalArea,LandArea,WaterArea,Density,Pop
29,8112,298,Alabama,52420,50645,1775,96.9221,4908621
0,368,7,Alaska,665384,570641,94743,1.2863,734002
5,8919,362,Arizona,113990,113594,396,64.9550,7378494
28,3469,80,Arkansas,53179,52035,1143,58.4030,3038999
2,56333,2297,California,163696,155779,7916,256.3727,39937489

In [22]:
states.drop(columns=['TotalArea','LandArea','WaterArea','Density'],inplace=True)
states.rename(columns={'Pop': 'population'},inplace=True)
states.set_index('State',inplace=True)
states.head()

            cases  deaths  population
State
Alabama      8112     298     4908621
Alaska        368       7      734002
Arizona      8919     362     7378494
Arkansas     3469      80     3038999
California  56333    2297    39937489

In [23]:
world.append(states)

               cases  deaths  population
Afghanistan     2894      90  37172386.0
Albania          803      31   2866376.0
Algeria         4648     465  42228429.0
Andorra          750      45     77006.0
Angola            35       2  30809762.0
...              ...     ...         ...
Virginia       19492     684   8626207.0
Washington     15673     846   7797095.0
West Virginia   1224      50   1778070.0
Wisconsin       8236     340   5851754.0
Wyoming          444       7    567025.0

[260 rows x 3 columns]

In [24]:
# Merge the global data with the state data and compute ratios
world_v_states = world.append(states)
world_v_states['deathsPerM'] = 1E6 * world_v_states.deaths / world_v_states.population
world_v_states['cfr'] = world_v_states.deaths/world_v_states.cases
world_v_states['% infected'] = 100 * world_v_states.cases / world_v_states.population

In [25]:
# sort by descending mortality, show top 50, states over 1M people
world_v_states[world_v_states.population >= 1E6].sort_values(by='deathsPerM',ascending=False).head(50)

,cases,deaths,population,deathsPerM,cfr,% infected
New York,318984,19415,19440469.0,998.689898,0.060865,1.640825
New Jersey,128269,7910,8936574.0,885.126672,0.061667,1.435326
Connecticut,29973,2556,3563077.0,717.357497,0.085277,0.841211
Belgium,50267,7924,11422068.0,693.744775,0.157638,0.440087
Massachusetts,69087,4090,6976597.0,586.245701,0.059201,0.990268
Spain,218011,25428,46723749.0,544.220028,0.116636,0.466596
Italy,211938,29079,60431283.0,481.191174,0.137205,0.350709
United_Kingdom,190584,28734,66488991.0,432.161769,0.150768,0.286640
Louisiana,29673,1991,4645184.0,428.615960,0.067098,0.638791
Michigan,43928,4135,10045029.0,411.646397,0.094131,0.437311
France,131863,25201,66987244.0,376.205953,0.191115,0.196848
Rhode Island,9652,341,1056161.0,322.867442,0.035329,0.913876
Netherlands,40770,5082,17231017.0,294.933259,0.124650,0.236608
Sweden,22721,2769,10183175.0,271.919121,0.121870,0.223123
Ireland,21722,1319,4853506.0,271.762310,0.060722,0.447553
Pennsylvania,52992,2880,12820878.0,224.633602,0.054348,0.413326
Illinois,63840,2673,12659682.0,211.142744,0.041870,0.504278
United_States_of_America,1180634,68934,327167434.0,210.699455,0.058387,0.360865
Maryland,26408,1216,6083116.0,199.897553,0.046047,0.434120
Switzerland,29898,1476,8516543.0,173.309757,0.049368,0.351058
Indiana,20507,1151,6745354.0,170.635967,0.056127,0.304017
Colorado,16799,849,5845526.0,145.239282,0.050539,0.287382
Georgia,28350,1228,10736059.0,114.380892,0.043316,0.264063
Washington,15673,846,7797095.0,108.501948,0.053978,0.201011
Canada,60772,3854,37058856.0,103.996734,0.063417,0.163988
Mississippi,7877,310,2989260.0,103.704596,0.039355,0.263510
Portugal,25524,1063,10281762.0,103.386949,0.041647,0.248245
Ecuador,31881,1569,17084357.0,91.838399,0.049214,0.186609
Ohio,20474,1056,11747694.0,89.889982,0.051578,0.174281
Denmark,9670,493,5797446.0,85.037446,0.050982,0.166798
Nevada,5627,266,3139658.0,84.722604,0.047272,0.179223
Germany,163860,6831,82927922.0,82.372738,0.041688,0.197593
Virginia,19492,684,8626207.0,79.293251,0.035091,0.225963
Iran,98647,6277,81800269.0,76.735689,0.063631,0.120595
Minnesota,7234,428,5700671.0,75.078881,0.059165,0.126897
New Mexico,4031,156,2096640.0,74.404762,0.038700,0.192260
Austria,15621,600,8847037.0,67.819316,0.038410,0.176568
Florida,36889,1398,21992985.0,63.565723,0.037897,0.167731
Missouri,8776,387,6169270.0,62.730274,0.044098,0.142253
New Hampshire,2588,86,1371246.0,62.716682,0.033230,0.188733
Alabama,8112,298,4908621.0,60.709515,0.036736,0.165260
Oklahoma,4044,238,3954821.0,60.179715,0.058853,0.102255
Kentucky,5363,267,4499692.0,59.337395,0.049786,0.119186
Iowa,9703,188,3179849.0,59.122304,0.019375,0.305140
Wisconsin,8236,340,5851754.0,58.102237,0.041282,0.140744
California,56333,2297,39937489.0,57.514883,0.040775,0.141053
South Carolina,6757,283,5210095.0,54.317628,0.041882,0.129691
Kansas,5365,154,2910357.0,52.914471,0.028705,0.184342
Arizona,8919,362,7378494.0,49.061502,0.040588,0.120878
Panama,7387,203,4176873.0,48.600951,0.027481,0.176855

In [26]:
# sort by descending casesPerM
world_v_states[world_v_states.population >= 1E6].sort_values(by='% infected',ascending=False).head(50)

,cases,deaths,population,deathsPerM,cfr,% infected
New York,318984,19415,19440469.0,998.689898,0.060865,1.640825
New Jersey,128269,7910,8936574.0,885.126672,0.061667,1.435326
Massachusetts,69087,4090,6976597.0,586.245701,0.059201,0.990268
Rhode Island,9652,341,1056161.0,322.867442,0.035329,0.913876
Connecticut,29973,2556,3563077.0,717.357497,0.085277,0.841211
Louisiana,29673,1991,4645184.0,428.615960,0.067098,0.638791
Qatar,16191,12,2781677.0,4.313944,0.000741,0.582059
Illinois,63840,2673,12659682.0,211.142744,0.041870,0.504278
Spain,218011,25428,46723749.0,544.220028,0.116636,0.466596
Ireland,21722,1319,4853506.0,271.762310,0.060722,0.447553
Belgium,50267,7924,11422068.0,693.744775,0.157638,0.440087
Michigan,43928,4135,10045029.0,411.646397,0.094131,0.437311
Maryland,26408,1216,6083116.0,199.897553,0.046047,0.434120
Pennsylvania,52992,2880,12820878.0,224.633602,0.054348,0.413326
United_States_of_America,1180634,68934,327167434.0,210.699455,0.058387,0.360865
Switzerland,29898,1476,8516543.0,173.309757,0.049368,0.351058
Italy,211938,29079,60431283.0,481.191174,0.137205,0.350709
Singapore,18778,18,5638676.0,3.192239,0.000959,0.333021
Nebraska,6125,79,1952570.0,40.459497,0.012898,0.313689
Iowa,9703,188,3179849.0,59.122304,0.019375,0.305140
Indiana,20507,1151,6745354.0,170.635967,0.056127,0.304017
Colorado,16799,849,5845526.0,145.239282,0.050539,0.287382
United_Kingdom,190584,28734,66488991.0,432.161769,0.150768,0.286640
Georgia,28350,1228,10736059.0,114.380892,0.043316,0.264063
Mississippi,7877,310,2989260.0,103.704596,0.039355,0.263510
Portugal,25524,1063,10281762.0,103.386949,0.041647,0.248245
Netherlands,40770,5082,17231017.0,294.933259,0.124650,0.236608
Virginia,19492,684,8626207.0,79.293251,0.035091,0.225963
Bahrain,3533,8,1569439.0,5.097363,0.002264,0.225112
Sweden,22721,2769,10183175.0,271.919121,0.121870,0.223123
Washington,15673,846,7797095.0,108.501948,0.053978,0.201011
Germany,163860,6831,82927922.0,82.372738,0.041688,0.197593
France,131863,25201,66987244.0,376.205953,0.191115,0.196848
Tennessee,13343,225,6897576.0,32.620155,0.016863,0.193445
New Mexico,4031,156,2096640.0,74.404762,0.038700,0.192260
New Hampshire,2588,86,1371246.0,62.716682,0.033230,0.188733
Ecuador,31881,1569,17084357.0,91.838399,0.049214,0.186609
Belarus,17489,103,9485386.0,10.858810,0.005889,0.184378
Kansas,5365,154,2910357.0,52.914471,0.028705,0.184342
Israel,16246,235,8883800.0,26.452644,0.014465,0.182872
Nevada,5627,266,3139658.0,84.722604,0.047272,0.179223
Panama,7387,203,4176873.0,48.600951,0.027481,0.176855
Austria,15621,600,8847037.0,67.819316,0.038410,0.176568
Ohio,20474,1056,11747694.0,89.889982,0.051578,0.174281
Florida,36889,1398,21992985.0,63.565723,0.037897,0.167731
Denmark,9670,493,5797446.0,85.037446,0.050982,0.166798
Alabama,8112,298,4908621.0,60.709515,0.036736,0.165260
Canada,60772,3854,37058856.0,103.996734,0.063417,0.163988
Utah,5326,50,3282115.0,15.234079,0.009388,0.162273
Turkey,127659,3461,82319724.0,42.043387,0.027111,0.155077