# Comparing European Mortality Rates to US States
Based on Nate Silver [wondering how US States compare to European countries](https://twitter.com/NateSilver538/status/1247259557476339717).

In [1]:
import pandas as pd
pd.options.display.max_rows = 100

In [2]:
# get cases and deaths by country
# Note that these are daily numbers, not cumulative sums
world = pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv')
world.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,06/04/2020,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0
1,05/04/2020,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0
2,04/04/2020,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0
3,03/04/2020,3,4,2020,43,0,Afghanistan,AF,AFG,37172386.0
4,02/04/2020,2,4,2020,26,0,Afghanistan,AF,AFG,37172386.0

In [3]:
# Recode 'United_Kingdom' as 'United Kingdom' for later matching
world.loc[world.geoId == 'UK','countriesAndTerritories'] = 'United Kingdom'

In [4]:
# reorganize data and compute mortality rates per Million
world = world.groupby(['countriesAndTerritories'])\
    .agg({'cases': sum, 'deaths': sum, 'popData2018': max})
world.rename(
    columns={'countriesAndTerritories': 'country',
             'popData2018': 'population'},inplace=True)
world['deathsPerM'] = 1E6 * world.deaths / world.population
world.head()

                         cases  deaths  population  deathsPerM
countriesAndTerritories
Afghanistan                299       7  37172386.0    0.188312
Albania                    361      21   2866376.0    7.326324
Algeria                   1320     152  42228429.0    3.599471
Andorra                    501      18     77006.0  233.748020
Angola                      14       2  30809762.0    0.064914

In [5]:
# Read in the state level cases/deaths data from the NYT
states = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [6]:
# read in the county populations file which happens to have state populations as well
counties = pd.read_csv('county_populations.csv')

In [7]:
states = states.merge(counties,left_on='state',right_on='County')
states = states.groupby(['state']).agg({'cases': max, 'deaths': max, 'Population': max})
states['deathsPerM'] = 1E6 * states.deaths / states.Population
states.rename(columns= {'Population': 'population'},inplace=True)
states.head()

            cases  deaths  population  deathsPerM
state
Alabama      1841      45     4887871    9.206462
Alaska        185       4      737438    5.424185
Arizona      2269      64     7171646    8.924032
Arkansas      853      16     3013825    5.308868
California  15076     349    39557045    8.822701

In [8]:
# read in the list of countries in Europe
# this will give us many irrelevant columns but we really just want the names
# Also note that the country populations in this file are not identical to those
# in the world file so we'll ignore these
europe = pd.read_csv('https://raw.githubusercontent.com/ajturner/acetate/master/places/Countries-Europe.csv')
europe.head()

,zoom,name,abbreviation,ISO alpha 2,ISO alpha 3,ISO numeric,land area km,population,latitude,longitude,continent
0,3,Ukraine,Ukr.,UA,UKR,804,603700.0,45415596,49.0,32.0,eu
1,3,France,Fr.,FR,FRA,250,547030.0,64768389,46.0,2.0,eu
2,3,Spain,Spain,ES,ESP,724,504782.0,46505963,40.0,-4.0,eu
3,3,Sweden,Swe.,SE,SWE,752,449964.0,9045000,62.0,15.0,eu
4,3,Germany,Ger.,DE,DEU,276,357021.0,82369000,51.5,10.5,eu

In [9]:
europe[europe.name=='United Kingdom']

,zoom,name,abbreviation,ISO alpha 2,ISO alpha 3,ISO numeric,land area km,population,latitude,longitude,continent
9,3,United Kingdom,U.K.,GB,GBR,826,244820.0,62348447,54.9,-3.12,eu

In [10]:
# merge the European data with the world countries, this will leave just the European data
europe = europe[['name','continent']]\
    .merge(world,left_on='name',right_index=True)\
    .drop(columns='continent')\
    .set_index('name')

In [11]:
# Merge the European data with the state data
europe_v_states = europe.append(states)

In [12]:
# sort by descending mortality
europe_v_states.sort_values(by='deathsPerM',ascending=False)

                       cases  deaths  population  deathsPerM
Spain                 130759   12418  46723749.0  265.774906
Italy                 128948   15889  60431283.0  262.926736
Andorra                  501      18     77006.0  233.748020
New York              122911    4161  19542209.0  212.923728
Belgium                19691    1447  11422068.0  126.684590
France                 70478    8078  66987244.0  120.590123
New Jersey             37505     917   8908520.0  102.935168
Louisiana              13010     477   4659978.0  102.360998
Netherlands            16627    1651  17231017.0   95.815587
Switzerland            21065     715   8516543.0   83.954252
United Kingdom         47806    4934  66488991.0   74.207774
Michigan               15635     616   9995915.0   61.625174
Luxembourg              2804      36    607728.0   59.237027
Connecticut             5675     189   3572665.0   52.901685
Monaco                    73       2     38682.0   51.703635
Guernsey                 154       3     63026.0   47.599403
Washington              7984     344   7535591.0   45.650036
Sweden                  6830     401  10183175.0   39.378681
Vermont                  512      22    626299.0   35.126992
Massachusetts          12500     231   6902149.0   33.467837
Ireland                 5111     158   4853506.0   32.553787
District of Columbia     998      22    702455.0   31.318732
Denmark                 4369     179   5797446.0   30.875665
Gibraltar                103       1     33718.0   29.657750
Portugal               11278     295  10281762.0   28.691580
Liechtenstein             78       1     37910.0   26.378264
Colorado                4950     140   5695564.0   24.580533
Rhode Island             922      25   1057315.0   23.644798
Austria                11983     204   8847037.0   23.058568
Illinois               11276     282  12741080.0   22.133132
Georgia                 6742     219  10519475.0   20.818529
Indiana                 4411     127   6691878.0   18.978230
Germany                95391    1434  82927922.0   17.292125
Nevada                  1880      46   3034392.0   15.159544
Delaware                 673      14    967171.0   14.475207
Mississippi             1638      43   2986530.0   14.397980
Slovenia                 997      28   2067372.0   13.543765
Wisconsin               2267      73   5813568.0   12.556833
Pennsylvania           11589     159  12807060.0   12.415027
Cyprus                   446      14   1189265.0   11.771977
Oklahoma                1252      46   3943079.0   11.666010
Estonia                 1097      15   1320884.0   11.356031
Iceland                 1486       4    353574.0   11.313049
Maryland                3609      68   6042718.0   11.253214
Norway                  5640      58   5314336.0   10.913875
Florida                12342     220  21299325.0   10.328966
Ohio                    4043     119  11689442.0   10.180127
Kentucky                1048      44   4468402.0    9.846921
Alabama                 1841      45   4887871.0    9.206462
Arizona                 2269      64   7171646.0    8.924032
California             15076     349  39557045.0    8.822701
South Carolina          2049      44   5084127.0    8.654386
Missouri                2367      52   6126452.0    8.487784
Kansas                   763      23   2911505.0    7.899694
Romania                 3864     148  19473936.0    7.599902
Maine                    470      10   1338404.0    7.471586
Tennessee               3538      50   6770010.0    7.385513
Albania                  361      21   2866376.0    7.326324
Serbia                  1908      51   6982084.0    7.304409
Iowa                     868      22   3156145.0    6.970529
Greece                  1735      73  10727668.0    6.804834
New Hampshire            669       9   1356458.0    6.634927
Oregon                  1068      27   4190713.0    6.442818
Puerto Rico              475      20   3195153.0    6.259481
Virginia                2637      52   8517685.0    6.104945
New Mexico               624      12   2095428.0    5.726754
Idaho                   1101      10   1754208.0    5.700578
Montana                  298       6   1062305.0    5.648095
Alaska                   185       4    737438.0    5.424185
Arkansas                 853      16   3013825.0    5.308868
Minnesota                935      29   5611179.0    5.168254
Finland                 1927      28   5518050.0    5.074256
Texas                   7094     137  28701845.0    4.773212
Lithuania                811      13   2789533.0    4.660278
Moldova                  864      15   3545883.0    4.230258
Nebraska                 377       8   1929268.0    4.146650
North Dakota             207       3    760077.0    3.946969
Hungary                  744      38   9768785.0    3.889941
Croatia                 1182      15   4089400.0    3.668020
North Carolina          2585      37  10383620.0    3.563305
Montenegro               214       2    622345.0    3.213652
Bulgaria                 531      20   7024216.0    2.847293
Hawaii                   369       4   1420491.0    2.815928
Utah                    1605       8   3161105.0    2.530761
Poland                  4102      94  37978548.0    2.475081
South Dakota             240       2    882235.0    2.266970
West Virginia            324       3   1805832.0    1.661284
Belarus                  564       8   9485386.0    0.843403
Ukraine                 1251      32  44622516.0    0.717127
Latvia                   533       1   1926542.0    0.519065
Malta                    234       0    483530.0    0.000000
Slovakia                 485       0   5447011.0    0.000000
Wyoming                  200       0    577737.0    0.000000